/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

#login {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
#login .container{
    background:rgba(255,255,255,.5);
    border-radius:8px;
    padding:20px;
    width:100%;
    max-width:300px;
    margin-top:10%;
  }
#login .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../img/img2.jpg');
  }
#login .form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
  }
#login .form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
  }
#login .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
#login .form-signin .form-control:focus {
    z-index: 2;
  }
#login .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
  }
#login .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: #000;
  }
#login .form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
/*panel-inicio-admin-master*/
#panel-admin-master .wrapper{
    width:100%;
    height:100%;
}
#panel-admin-master aside,
#panel-admin-master .wrapper > div{
    height:100%;
    float:left;
}
#panel-admin-master aside{
    width:30%;
    background:#333;
    color:#ddd;
    text-shadow:0 1px 0 #000;
}
#panel-admin-master .wrapper > div{
    background:#EAEAEA;
    width:70%;
}
#panel-admin-master aside > div{
    border-top:#7F7F7F solid thin;
    border-bottom:#000 solid thin;
    padding:12px;
    margin-top:1px;
}
#panel-admin-master aside > div:last-child{
    border-bottom:none;
}
#panel-admin-master i{
    color:#ddd;
    text-shadow:0 1px 0 #000;
}
.imgContainer{
    width:80px;
    height:80px;
    border-radius:100%;
    background:#A5A5A5;
}
.imgContainer i{
    font-size:48px;
    margin-top:12px;
    margin-left:20px;
}
#panel-admin-master .media-body strong{
    margin-top:20px;
    display:block;
    font-size:18px;
}
#usuarios li{
    margin:20px 0;
    padding-left:20px;
}
#usuarios a{
    color:#ddd;
}
#usuarios a:hover{
    text-decoration:none;
}
.form-group{
    min-width:250px;
}
.agregar,
.proyecto{
    width:180px;
    height:180px;
    float:left;
    margin:10px;
    position:relative;
}
.agregar{
    border-radius:8px;
    box-shadow:0 2px 1px #fff;
    box-shadow: inset 0px 1px .5px 0px rgba(0,0,0,0.75);
    text-align:center;
    padding-top:10px;
    background:#DDDDDD;
    border-bottom:rgba(255,255,255,.8) solid thin;
}
.agregar a:hover,
.proyecto a:hover{
    text-decoration:none;
}
#panel-admin-master .agregar i,
#panel-admin-master .agregar span{
    display:block;
    color:#A5A5A5;
    text-shadow:0 1px 0 rgba(0,0,0,.8);
}
.agregar > a i,
.proyecto > a i{
    font-size:128px;
    display:block;
}
.proyecto{
    text-align:center;
    padding-top:10px;
}
#panel-admin-master .proyecto i,
#panel-admin-master .proyecto a{
    color:#000;
    text-shadow:none;
}
#panel-admin-master .proyecto a:nth-child(1){
    display:block;
}
#proyectos .dropdown{
    position:absolute;
    top:2px;
    right:2px;
}
#proyectos .dropdown-toggle{
    border-radius:3px;
    background:
}
#proyectos .dropdown-menu{
    right:0;
    left:auto;
    border-radius:0;
    text-align:left;
    font-size:13px;
}
#proyectos .dropdown-menu i{
    margin-right:5px;
}
#panel-admin-master .fa-chevron-down{
    color:#333333;
}
.panel-body{
    background:#EAEAEA;
}
#proyectos > .btn{
    margin:5px;
}
#panel-admin-master #myModal{
    width:100%;
}
#panel-admin-master .fa-exclamation-triangle{
    color:#E98C00;
    font-size:36px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
